
html {
  max-width: 60ch;
  padding: 0.5ch;
  margin: auto;
  font-size: 1.1em;
  hyphens: auto;
}

.omi {

  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px;
}

p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
.center {
  display: block;

  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

h1 {
  font-family: "Times New Roman", serif;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
}
h2 {
  font-family: "Times New Roman", serif;
  color: black;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  border-bottom: red solid 1pt;
  margin-bottom: 2em;
  padding: 0 0 6pt;
}
h3 {
  color: black;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: right;
  margin: 18pt 0 6pt;
}
h4 {
  color: black;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
  margin: 12pt 0 9pt;
  padding: 0;
}
.pT1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.3;
  margin-top: 0.3em;
  color: red;
}
.pT2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 2em;
  color: red;
}
.pT3 {
  font-family: Times, Times New Roman, serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: red;
}
.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}

.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}
.pT4 {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  color: red;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
}
.normal {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  text-align: justify;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}
.lettura {
    display: block;
    font-style: Italic;
    text-align: left;
    text-indent: 0;
  margin-bottom: 1em;
    }
.txtLettura {
    font-size: 1.8em;
    font-weight: bold;
    font-style: italic;
    }

.citaz {
    font-size: 1em;
    font-style: italic;
    text-indent: 1.5em;
    padding: 0;

    }
.divCap2
{
 
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0em;
  margin-left: 2%;
  margin-right: 2%em;
}

.rubrica {
  font-size: 1em;
  color: red;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lecturacarta {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;
}
.SalmoEtc {
  font-family: Times, Times New Roman, serif;
  font-size: 0.8em;
  font-weight: bold;
  color: red;
  margin-top: 18px;
  margin-bottom: 0;
}
/* Si no hai la cita del Salmo ----*/
/* ----   */
.SalmoEstrib {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  font-weight: bold;
  text-indent: -25px;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 7px;
}
.SalmoEstrib::first-letter {
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-right: 0.1em;
}
.SalmoNum {
  font-family: Times, Times New Roman, serif;
  font-size: small;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}
.SalmoTxt {
  font-family: Times, Times New Roman, serif;
  font-size: 1em;
  text-indent: -13px;
  padding: 0 0 0 20px;
  margin-top: 0;
  margin-bottom: 6px;
}
.SalmoTxt::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}
.txtItalic {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.2px;
  margin-bottom: 0.5em;
}
.aleluia {
  font-family: Times, Times New Roman, serif;
  font-size: 1.1em;
  text-indent: -20px;
  padding: 0 0 0 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.palabra {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 0.9em;
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 4px;
}
.red {
  color: red;
  font-weight: bold;
}
/*Nero*/
.Bold {
  color: #000;
  font-weight: bold;
}


.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}
.pT3but a:link {
  color: white;
}


.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}