
html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;
}

body {
	font-size: 1.1rem;
	font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
	font-family: "Times New Roman", serif;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}

.index  {
  font-family: "Times New Roman", serif;
  font-size: 1.2rem;
  color: red;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 1em;
}

.indice  {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #ffffcc;
}

h1 {
    font-family: "Times New Roman", serif;
    color: black;
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    }

.pT3 {
    font-family: "Times New Roman", serif;
    color: black;
    display: block;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 18pt 0 6pt
}

.pT4 {
    font-family: "Times New Roman", serif;
    color: black;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.pT5 {
    display: block;
    font-family: "Times New Roman", serif;
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 12pt 0;
    color: red;
}
.pT6 {
    font-family: "Times New Roman", serif;
    color: black;
    display: block;
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: center;
    padding: 0;
    margin: 12pt 0
    }

h2 {
  font-family: "Times New Roman", serif;
  color: black;
  display: block;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  border-bottom: black solid 1pt;
  margin-bottom: 2em;
  padding: 0 0 6pt;
}
h3 {
  color: black;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: right;
  margin: 18pt 0 6pt;
}
h4 {
  color: black;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: left;
  margin: 12pt 0 9pt;
  padding: 0;
}


.rubrica {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9rem;
  color: red;
  margin-top: 1em;
  margin-bottom: 1em;
}

.normal {
  font-family: Times, Times New Roman, serif;

  text-align: justify;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0.2em;
}
.normalend {
  font-family: Times, Times New Roman, serif;

  text-align: justify;
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
.rubrica {
  font-size: 1rem;
  color: red;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lecturacarta {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}
.SalmoEtc {
  font-family: Times, Times New Roman, serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: red;
  margin-top: 18px;
  margin-bottom: 0;
}


.SalmoEstr {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  text-indent: -25px;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 7px;
}
.SalmoEstrib::first-letter {
  font-style: normal;
  font-weight: bold;
  color: red;
  margin-right: 0.1em;
}
.SalmoNum {
  font-family: Times, Times New Roman, serif;
  font-size: small;
  color: red;
  margin-top: 0;
  margin-bottom: 8px;
}
.SalmoTxt {
  font-family: Times, Times New Roman, serif;
  text-indent: -13px;
  padding: 0 0 0 20px;
  margin-top: 0;
  margin-bottom: 6px;
}
.SalmoTxt::first-letter {
  font-weight: bold;
  color: red;
  margin-right: 0.05em;
}
.txtItalic {
  font-family: Times, Times New Roman, serif;
  font-style: italic;
  margin-top: 0.2px;
  margin-bottom: 0.1em;
}
.txtItalic2 {
  font-family: Times, Times New Roman, serif;
  font-style: italic;
  margin-left: 18pt;
  margin-top: 0px;
  margin-bottom: 0em;
 
}
.aleluia_r {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
    }
.aleluia {
  font-family: Times, Times New Roman, serif;
  text-indent: -20px;
  padding: 0 0 0 20px;
  margin-top: 2px;
  margin-bottom: 2px;

}
.palabra {
  font-family: Times, Times New Roman, serif;
  font-weight: bold;
  font-size: 0.9rem;
  font-style: normal;
  margin-top: 2px;
  margin-bottom: 4px;
}
.red {
  color: red;
  font-weight: bold;
}
/*Nero*/
.Bold {
  color: #000;
  font-weight: bold;
}


.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}
.pT3but a:link {
  color: white;
}

.pLista1 {
    font-family: Times, Times New Roman, serif;
    color: red;
    display: block;
    page-break-after: avoid;
    text-indent: -22.7pt;
    padding: 0;
    margin: 12pt 0 0 22.7pt
    }


.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}
a:link {
  text-decoration: none;
}
.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 30px;
}