html {
  max-width: 80ch;
  padding: 0.5ch;
  margin: auto;
  font-size: 1em;
  hyphens: auto;
}

.omi {
 /* background-color: #ffffcc;*/
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 1em;
  padding-left: 1px;
  padding-right: 1px;
}

h1 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0;
}

h2 {
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  color: red;
}



.butXL {
  font: normal 1em Times;
  background-color: orange;

  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.4em;
  padding-top: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 80%;
}

.button {
  /*background-color: #bb1919;*/
  text-align: center;
  /*border: none;*/
  border: 1px solid red;
 

  padding: 0.1em 0.1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  /*border-radius: 6px;*/
}

.button {
  width: 10%;
}


.button a:link{
    color:white;
}



.pT1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 0.3;
  margin-top: 0.3em;
   color: red;
}

.pT2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.3;
  margin-top: 0.3em;
  color: brown;
}


.pT3 {

  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: red;
}

.pT4 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.2em;
  color: brown;
}

.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}


.ft{
 
}

.fk{
   font-style: italic;
}

.Normale{
    font-family:Times, Times New Roman, serif;
    font-size:1.4em;
    text-align:justify; 
    text-indent:1em;
    margin-top:0.3px; 
    margin-bottom:0px; 
    }

.Versetto{
	color:red;
    vertical-align: super;
    font-size: 0.8em;
    }

a {
 
  text-decoration: none;
  font-weight: normal;
}

a:visited {
  text-decoration: none;
}
a:hover{
  font-size: 1.2em;
}

.notemark{
	color:blue;}

.f{
     font-family:Times, Times New Roman, serif;
    font-size:1.1em;
    text-align:justify; 
}

.Rosso {
  display:inline-block;
  font-family: Times, Times New Roman, serif;
  font-size: 0.7em;
  font-weight: bold;
  /*float: left;*/
  color: red;
  padding-right: 0em;
 /* padding-bottom: 0.8em;*/
}



.Indice{
   font-family:Times, Times New Roman, serif;
    font-size:1.2em;
    text-align:left; 
    text-indent:1em;
    margin-top:9px; 
    margin-bottom:9px;
}

/* Bottoni Fissi */
.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}

.fixedButtonBack {
  position: fixed;
  right: 2px;
  top: 10px;
  padding: 0;
  border: none;
  background: none;
}


.divCap
{
 
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 10%;
  margin-right: 10%;
}
.divCap2
{
 
  font-family: Times, Times New Roman, serif;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0em;
  margin-left: 2%;
  margin-right: 2%em;
}



a:visited {
  text-decoration: none;
}


.button2 {
  /*background-color: #bb1919;*/
  text-align: center;
  /*border: none;*/
  border: 1px solid red;
 

  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}

.button2 {
  width: 45%;
}

.button3 {
  /*background-color: #bb1919;*/
  text-align: left;
  /*border: none;*/
  border: 1px solid red;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.1em;
  cursor: pointer;
  border-radius: 6px;
}

.button3 {
  width: 80%;
}





.roundedFixedBtn {
  height: 36px;
  line-height: 30px;
  width: 30px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}

.roundedFixedBtn a:link {
  color: white;
}

.roundedFixedBtn a:visited {
  color: white;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.Up_but {
  font-family: Arial;
  margin-bottom: 0;
}

.Up_but a:link {
  color: white;
}

.Up_but a:visited {
  text-decoration: none;
    color: white;
}