html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;
}

body {
   font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
  padding-left: 0.6em;
  padding-right: 0.6em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-family: "Charis SIL", "Times New Roman", Verdana;
}


@font-face {
  font-family: "Charis SIL";
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/CharisSILR.ttf);
}
@font-face {
  font-family: "Charis SIL";
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/CharisSILB.ttf);
}
@font-face {
  font-family: "Charis SIL";
  font-style: italic;
  font-weight: normal;
  src: url(../fonts/CharisSILI.ttf);
}
@font-face {
  font-family: "Charis SIL";
  font-style: italic;
  font-weight: bold;
  src: url(../fonts/CharisSILBI.ttf);
}

p {
	font-size: 1.1em;
	line-eight:1.2em;
}
	
.tp {  
margin-top: 1em;
text-align: center;
}

/* ==================== RH Styles ===================== */

h1.otherbooks
{
text-align: center;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

div.otherbooks
{
margin-top: 4em;
font-size: small;
margin-left: 2em;
margin-right: 2em;
}

div.copyright
{
font-size: small;
text-align: center;
margin-top: 4em;
}

div.dedication
{
font-size: small;
margin-top: 8em;
}

div.epigraph
{
font-size: medium;
margin-left: 12em;
margin-right: 4em;
margin-bottom: 2em;
margin-top: 2em;
}

div.epigraphsource
{
font-size: x-small;
text-align: right;
font-style: italic;
margin-bottom: 12em;
margin-right: 2em;
}

h1.acknowledgments
{
font-size: medium;
margin-top: 4em;
text-align: center;
font-weight: bold;
}

div.acknowledgments
{
font-size: small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

h1.authorsnote
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.authorsnote
{
font-size: small;
text-align: justify;
}

h1.listoffigures
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.listoffigures
{
font-size: small;
text-align: left;
}

h1.chronology
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.geneology
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.foreword
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.preface
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.introduction
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.prologue
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.part
{
line-height: 2em;
margin-top: 4em;
margin-bottom: 1em;
font-size: large;
text-align: center;
font-weight: bold;
}

h1.chapter
{
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 1em;
}

h1.subchapter
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.epilogue
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.coda
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.conclusion
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.afterward
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.permission
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.glossary
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

span.glosaryterm
{
font-size: small;
text-align: left;
margin-right: 1em;
}

span.glosarydef
{
font-size: small;
text-align: left;
margin-right: 1em;
}

h1.appendix
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.resource
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.notes
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.note
{
font-size: x-small;
text-align: justify;
margin-left: 1em;
}

h1.source
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.bibliography
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

div.bibliography
{
font-size: x-small;
text-align: justify;
margin-left: 2em;
font-weight: bold;
}

h1.suggestedreading
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h1.abouttheauthor
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

p.smallheight
{
margin-top: 1em;
margin-bottom: 1em;
}

p.mediumheight
{
margin-top: 2em;
margin-bottom: 2em;
}

p.attribution
{
text-align: center;
}


p.largeheight
{
margin-top: 3em;
margin-bottom: 3em;
}

div.list
{
font-size: small;
margin-left: 1em;
}


h1.box
{
font-size: medium;
font-style: italic;
text-align: center;
}

div.box
{
font-size: small;
margin-left: 1em;
}

p.caption
{
font-size: x-small;
font-style: italic;
text-align: center;
margin-bottom: 1em;
}


/* ===================== Added Styles ===================== */

p.indent
{
text-indent: 1.00em;
margin-top: 0.0em;
margin-bottom: 0.0em;
text-align: justify;
font-size: 1.1em;
line-eight:1.2em;
}

p.right
{
text-align: right;
}

p.center
{
margin-top: 1em;
text-align: center;
margin-bottom: 1em;
}

a.hlink
{
text-decoration: none;
}

p.figure
{
font-size: small;
margin-top: 2em;
text-align: center;
margin-bottom: 2em;
}

h1.subtitle
{
font-size: x-large;
text-align: center;
font-weight: bold;
margin-bottom: 4em;
}


h1.contents
{
font-size: medium;
text-align: center;
font-style: italic;
font-weight: bold;
}

h2.title
{
font-size: medium;
text-align: center;
}

p.smallheight
{
margin-top: 1em;
}

p.mediumheight
{
margin-top: 2em;
}

p
{
margin-top: .3em;
margin-bottom: .3em;
}

div.cover
{
text-align: center;
}

img
{
max-height: 100%;
max-width: 100%;
}

img.inline
{
vertical-align: middle;
}


div.titlepage
{
text-align: center;
}

a.pubhlink
{
text-decoration: none;
color: green;
}

p.extract
{
text-indent: 0;
text-align: justify;
margin-top: 1em;
}

p.extract1
{
text-align: justify;
text-indent: 1.00em;
margin-top: 1em;
}

div.textbox
{
border: 2px solid;
margin-top: 2em;
margin-right: 12em;
margin-bottom: 2em;
border-bottom: 2px solid;
border-top: 2px solid;
line-height: 1.7em;
text-align: left;
}

h1.caption
{
font-size: medium;
margin-bottom: 1em;
}

p.box
{
border-bottom: 1px double;
border-left: 1px double;
border-top: 1px double;
border-right: 1px double;
text-align: justify;
}

div.abstract
{
font-size: small;
text-align: justify;
margin-left: 2em;
margin-right: 2em;
}

div.appendix
{
margin-top: 1em;
font-size: medium;
text-align: justify;
}

p.reference
{
text-align: justify;
text-indent: -1.00em;
margin-left: 1em;
}

div.biboliography
{
font-size: medium;
text-align: justify;
}

div.preface
{
margin-top: 4em;
font-size: medium;
text-align: justify;
}

div.preface1
{
margin-top: 1em;
font-size: medium;
text-align: justify;
}

p.cop
{
margin-bottom: 1em;
}

p.nonindent
{
margin-top: 0.0em;
margin-bottom: 0.0em;
text-align: justify;
text-indent: 0;
font-size: 1.1em;
line-eight:1.2em;
}

span.small
{
font-size: x-small;
}

div.toc
{
font-size: medium;
text-align: center;
}

p.stanga
{
text-align: justify;
margin-top: 1em;
margin-bottom: 1em;
margin-left: 2em;
}

body
{
font-size: medium;
line-height: 1.2em;
margin-top: 1em;
margin-left: 1em;
margin-right: 2em;
font-family: Charis, "Times New Roman", Verdana, Arial;
}

@font-face
{
font-family: "Charis";
font-style: normal;
font-weight: normal;
src:url(fonts/CharisSILR.ttf);
}

@font-face
{
font-family: "Charis";
font-style: normal;
font-weight: bold;
src:url(fonts/CharisSILB.ttf);
}

@font-face
{
font-family: "Charis";
font-style: italic;
font-weight: normal;
src:url(fonts/CharisSILI.ttf);
}

@font-face
{
font-family: "Charis";
font-style: italic;
font-weight: bold;
src:url(fonts/CharisSILBI.ttf);
}

h3.title
{
font-size: medium;
text-align: center;
margin-bottom: 3em;
}

span.dropcaps
{
float: left;
font-size: 50px;
line-height: 50px;
padding-top: 1px;
margin-top: -.09em;
margin-right: .09em;
}

span.dropcaps3lines
{
float: left;
font-size: 80px;
line-height: 70px;
padding-top: 1px;
margin-top: -.09em;
margin-right: .09em;
}

sup.small
{
		font-size:	small;
		line-height:	0.0em;
}

div.footnote
{
		font-size:	small;
		border-style: solid;
		border-width: 1px 0 0 0;
		margin-top: 2em;
}

p.footnote
{
	text-align: justify;
}

p.question
{
text-align: justify;
margin-top: 1em;
}

div.small-page
{
margin-top: 2em;
font-size: medium;
margin-left: 12em;
margin-right: 6em;
}

h1.toc
{
font-size: medium;
margin-bottom: 1em;
}


ol.upperalpha
{
	text-align: justify;
	list-style-type: upper-alpha;
}

ol.upperroman
{
	text-align: justify;
	list-style-type: upper-roman;
}

ol.lowerroman
{
	text-align: justify;
	list-style-type: lower-roman;
}

ol.loweralpha
{
	text-align: justify;
	list-style-type: lower-alpha;
}


ol.arabic
{
	text-align: justify;
}

h1.section
{
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

h2.section
{
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 2em;
}

h3.section
{
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

h4.section
{
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

h5.section
{
text-align: left;
font-size: medium;
margin-bottom: 1em;
margin-top: 4em;
}

span.underline
{
text-decoration: underline;
}

span.big
{
font-size: xx-large;
}

p.crt
{
margin-top: 1em;
text-align: left;
margin-bottom: 1em;
}

span.overline
{
text-decoration: overline;
}

h1.chapter1
{
font-size: large;
text-align: left;
font-weight: bold;
line-height: 2em;
margin-top: 4em;
margin-bottom: 1em;
}

p.textbox
{
text-align: justify;
margin-left: 1em;
margin-right: 1em;

}

p.textbox1{
text-indent: 1.00em;
text-align: justify;
margin-left: 1em;
margin-right: 1em;
}

div.chapter
{
margin-top: 2em;
margin-left: 0.5em;
margin-right: 0.5em;
}

span.strike
{
text-decoration: line-through;
}

sup
{
	vertical-align: 4px;
}

sub.frac
{
	font-size: 0.7em;
}

sup.frac
{
	font-size: 0.7em;
}

p.pagebreak
{
page-break-after: always;
}


div.part
{
margin-top: 2em;
margin-left: 1em;
margin-right: 1em;
}

img.middle
{
vertical-align: middle;
}


div.textbox1
{
margin-left: 2em;
margin-right: 2em;
margin-top: 2em;
margin-bottom: 2em;
border-bottom: 2px solid;
border-left: 2px solid;
border-right: 2px solid;
border-top: 2px solid;
line-height: 1.3em;
text-align: center;
}

/* =============== New Style added =============== */

/* == For TOC == */

div.toc_fm
{
margin-top:1em; 
margin-bottom:1em;
margin-left:0em;
font-size:.9em;
line-height:1.3em;
text-align: left;
}

div.toc_chap
{
margin-left:1.5em;
font-size:1em;
margin-right: 3.5em;
text-align: right;
line-height:1.4em;
}

div.toc_sub
{
margin-left:2em;
font-size:smaller;
line-height:1.4em;
}

div.toc_part
{
margin-left:0em;
margin-top:1.2em;
line-height:1.5em;
font-size:1.2em;
}

div.toc_part .toc_chap
{
font-size:medium;
margin-left:1.5em;
}

div.toc_part .toc_chap .toc_sub
{
font-size:smaller;
margin-left:1.5em;
}


/* == For Block Quotes == */

div.block
{
margin-left: 0em;
margin-right: 0em;
text-align:justify;
margin-top: 1em;
margin-bottom: 1em;
}

p.bl_nonindent
{
font-size: small;
margin-left:1.5em;
margin-right:1.5em;
text-align:justify;
}

p.bl_indent
{
font-size: small;
text-indent:1em;
margin-left:1.5em;
margin-right:1.5em;
text-align:justify;
}

/* For Hanging Paragraphs */

p.hanging
{
text-indent: -1em;
font-size: small;
}

div.hanging
{
margin-left: 1.0em;
}

/* For Dialogue Text */

div.dialogue
{
margin-left: 4.2em;
margin-bottom: 2em;
margin-top: 1.5em;
font-size: small;
}

p.d_hanging
{
text-indent: -4.2em;
font-size: small;
margin-top: 0.5em;
}

/* For bullet list */

ul.bullet
{
list-style-type: disc;
margin-top: 1em;
margin-bottom: 1em;
}
div.bullet
{
margin-left: .8em;
margin-top: 0;
margin-bottom: 0;
text-align: justify;
}

/* For Fractions */
.frac_num
{font-size:x-small; vertical-align:text-top;}
.frac_den
{font-size:x-small; vertical-align:text-bottom;}

p.bl_extract
{
font-size: small;
margin-left:1.5em;
margin-right:1.5em;
text-align:justify;
margin-top: 1em;
}

p.bl_right
{
font-size: small;
text-align: right;
margin-right:1.5em;
}

div.toc_bm
{
margin-top:1em; 
margin-bottom:1em;
margin-left:0em;
font-size:.9em;
line-height:1.3em;
text-align: left;
}

span.small1{
font-size: medium;
}


p.bl_center
{
font-size: small;
margin-left:1.5em;
margin-right:1.5em;
text-align:center;
}


p.bl_nonindent1
{
font-size: small;
margin-left:2.5em;
margin-right:2.5em;
text-align:justify;
}

p.bl_indent1
{
font-size: small;
text-indent:1em;
margin-left:2.5em;
margin-right:2.5em;
text-align:justify;
}

p.bl_center1
{
font-size: small;
margin-left:2.5em;
margin-right:2.5em;
text-align:center;
}

p.bl_extract1
{
font-size: small;
text-indent:1em;
margin-left:2.5em;
margin-right:2.5em;
text-align:justify;
margin-top: 1em;
}

p.bl_right1
{
font-size: small;
text-align: right;
margin-right:2.5em;
}

p.bl_hanging
{
font-size: small;
margin-left:1.5em;
text-indent: -1.5em;
margin-right:1.5em;
margin-bottom:0em;
margin-top:0em;
text-align:justify;
line-eight:0.9em;
}

p.footnote1
{
text-indent: -1em;
margin-left: 1.2em;
	text-align: justify;
}

p.footnote2
{
text-indent: -1.8em;
margin-left: 1.5em;
	text-align: justify;
}

p.footnote3
{
text-indent: -2em;
margin-left: 1.3em;
	text-align: justify;
}

span.small2
{
font-size: small;
}

h1.chapter2
{
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: -3em;
margin-bottom: 3em;
}

div.appendix1
{
margin-top: 4em;
font-size: medium;
text-align: justify;
}
p.left{
font-size: small;
margin-left: 15em;
text-align: left;
}
p.left01{
font-size: small;
margin-left: 5em;
text-align: left;
}
p.crt01
{
margin-top: 1em;
text-align: left;
margin-bottom: 1em;
}

h1.chapter01
{
font-size: 1.2em;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 1em;
}

div.toc_chap01
{
font-size:1em;
margin-top: 1em;
margin-bottom: 1em;
margin-right: 3em;
text-align: right;
line-height:1.4em;
}

h1.chapter02
{
font-size: large;
text-align: right;
margin-right: 1.5em;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 3em;
}

div.block01
{
margin-left: 2em;
margin-right: 0em;
text-align:justify;
margin-top: 1em;
margin-bottom: 1em;
}
p.bl_right01
{
margin-bottom: 1em;
margin-top: 1em;
font-size: small;
text-align: right;
border-bottom: 2px solid;
margin-right:1.5em;
}

p.left02{
font-size: small;
line-eight: 0.9em;
margin-left: 1em;
text-align: left;
margin-bottom:1em;
}

h1.chapter03
{
font-size: large;
text-align: right;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-right: 1.5em;
margin-bottom: 1em;
}
h1.chapter04
{
font-size: x-large;
text-align: left;
font-weight: bold;
line-height: 1.3em;
margin-top: 0em;
margin-right: 1.5em;
margin-bottom: 2em;
}


div.textbox01
{
margin-top: 2em;
margin-bottom: 2em;
border-bottom: 2px solid;
border-top: 2px solid;
line-height: 1.5em;
text-align: left;
}
p.nonindent01
{
font-size: small;
margin-top: 0.0em;
margin-bottom: 1em;
text-align: justify;
text-indent: 0;
}
p.nonindent02
{
font-size: small;
margin-top: 0.0em;
margin-bottom: 1em;
margin-left: 3em;
text-align: justify;
text-indent: 0;
}
p.left03{
font-size: small;
margin-left: 10em;
text-align: left;
}
p.left04{
font-size: small;
margin-left: 25em;
text-align: left;
}
p.left05{
font-size: small;
margin-left: 22em;
text-align: left;
}

h1.chapter05
{
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 2em;
}
p.right01
{
text-align: right;
margin-top: 1em;
margin-bottom: 1em;
}

h2.section01
{
text-align: center;
font-size: 1.2em;
margin-bottom: 1em;
margin-top: 1em;
}
p.center01
{
margin-top: 1em;
font-size: 1.2em;
text-align: center;
margin-bottom: 1em;
}

h1.chapter06
{
font-size: large;
text-align: center;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 1em;
}
h1.chapter07
{
font-size: large;
text-align: right;
margin-right: 3em;
font-weight: bold;
line-height: 1.3em;
margin-top: 2em;
margin-bottom: 1em;
}



p.right10
{
margin-right: 4em;
text-align: right;
}





a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: 1.3em;
}


.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}
.pT3but {
  font-family: "Times New Roman", serif;
  letter-spacing: 3px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0em;
  color: brown;
}


.butXL {
  font: normal 22px Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;
}

.fixedButton {
  position: fixed;
  bottom: 15px;
  right: 2px;
  margin-bottom: 10px;
}

.sigue {
  font-size: 1.3em;
  padding-bottom: 0em;
  padding-left: 2em;
  padding-top: 0em;
  text-align: right;

}