html {
  margin: auto;
  hyphens: auto;
  max-width: 80ch;
}

body {
	font-size: 1.1rem;
	font-size: clamp(1.1rem, 1.1rem + 0.25vw, 1.35rem);
	font-family: "Times New Roman", serif;
	padding-left: 1px;
	padding-right: 1px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
}


a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
	
a:hover {
	color: red;
}


div.sgc-toc-title {
  color: black;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
div.sgc-toc-level-1 {
  text-align: center;
  margin-left: 0.5em;
  margin-bottom: 0;
  margin-bottom: 1em;
  font-size: 1em;
}
div.sgc-toc-level-2 {
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  margin-top: 1em;

}

div.sgc-toc-level-2 a {
text-decoration: none;
}


div.sgc-toc-level-3 {
  margin-left: 1em;
  margin-top: 0.4em;
  font-size: 0.8em;
  margin-bottom: 0.7em;
 text-align: center;
}

div.sgc-toc-level-3 a {
text-decoration: none;
}

.center1 {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", serif;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
  color: #bb1919;
  font-weight: normal;
}

h2 {
  font-family: "Times New Roman", serif;
  color: #bb1919;
  display: block;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 0em;

}
table { 
   margin-left:auto; 
   margin-right:auto; 
}


.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}

.pT3but a {
text-decoration: none;
}

.button {
  background-color: #bb1919;
  border: none;
  color: white;
  padding: 0.3em 0.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.2em 0.2em;
  cursor: pointer;
  border-radius: 6px;
}
.button {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  width: 12%;
}

.button a {
    color: white;
}

hr {
  width: 45%;
  margin-bottom: 1em;
  margin-top: 2em;
  border-top: 1px solid #bb1919;
 
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}


.pT3but {
  font-family: Times, Times New Roman, serif;
  letter-spacing: 2px;
  text-align: center;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  color: brown;
}



.butXL {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 8px;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  Text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.4em 0.2em;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 40%;

}
.butXL a:link {
  color: white;
}
.butXL a:visited {
  color: white;
}

.fixedButton {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}