.block_ {
    display: block;
    text-align: justify;
    text-indent: 22.7pt;
    margin: 0 0 2pt;
    padding: 0
    }
.block_1 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: center;
    text-indent: 0;
    margin: 24pt 0 0;
    padding: 0
    }
.block_2 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 24pt 0 0;
    padding: 0
    }
.block_3 {
  display: block;
  font-size: 1.8em;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 1;
  page-break-after: avoid;
  page-break-before: always;
  page-break-inside: avoid;
  text-align: center;
  text-indent: 0;
  padding: 0;
  margin: 0 0 18pt;
    }
.block_4 {
    color: #0563C1;
    display: block;
    text-align: left;
    text-decoration: underline;
    text-indent: 0;
    margin: 12pt 0 6pt;
    padding: 0
    }
.block_5 {
    color: #0563C1;
    display: block;
    text-align: left;
    text-decoration: underline;
    text-indent: 0;
    margin: 0 0 5pt 22.7pt;
    padding: 0
    }
.block_6 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 22.7pt;
    margin: 0 0 2pt;
    padding: 0
    }
.block_7 {
    color: black;
    display: block;
    font-size: 0.83333em;
    text-align: justify;
    text-indent: 22.7pt;
    margin: 0 0 2pt;
    padding: 0
    }
.block_8 {
  display: block;
  font-size: 1.3em;
  font-variant: small-caps;
  font-weight: bold;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: center;
  text-indent: 0;
  padding: 0;
  margin: 18pt 0 6pt;
    }
.block_9 {
    color: black;
    display: block;
    text-align: justify;
    text-indent: 22.7pt;
    margin: 0 0 2pt;
    padding: 0
    }
.block_10 {
    color: black;
    display: block;
    font-style: italic;
    text-align: right;
    text-indent: 0;
    margin: 3pt 0 6pt;
    padding: 0
    }
.block_11 {
    color: black;
    display: block;
    font-size: 1em;
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_12 {
    background-color: #FFF;
    color: black;
    display: block;
    font-size: 0.75em;
    font-style: italic;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 2pt 0 6pt 14.2pt;
    padding: 0
    }
.block_13 {
    color: black;
    display: block;
    font-size: 0.83333em;
    font-style: italic;
    font-weight: bold;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    text-indent: 22.7pt;
    margin: 6pt 0 0;
    padding: 0
    }
.block_14 {
    color: black;
    display: block;
    text-align: left;
    text-indent: 18pt;
    margin: 0 0 2pt;
    padding: 0
    }
.block_15 {
    color: black;
    display: block;
    font-size: 1em;
    font-weight: normal;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_16 {
    color: black;
    display: block;
    font-size: 0.83333em;
    text-align: left;
    text-indent: -14.2pt;
    margin: 2pt 0 2pt 14.2pt;
    padding: 0
    }
.block_17 {
    background-color: #FFF;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.83333em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 2pt 0 6pt 14.2pt;
    padding: 0
    }
.block_18 {
    display: block;
    font-size: 0.83333em;
    page-break-after: avoid;
    text-align: right;
    text-indent: 0;
    margin: 6pt 0 4pt;
    padding: 0
    }
.block_19 {
    color: black;
    display: block;
    font-size: 0.83333em;
    font-weight: normal;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 12pt 0 0;
    padding: 0
    }
.block_20 {
    color: black;
    display: block;
    font-size: 0.83333em;
    page-break-after: avoid;
    text-align: right;
    text-indent: 0;
    margin: 6pt 0 4pt;
    padding: 0
    }
.block_21 {
    color: black;
    display: list-item;
    margin-bottom: 0;
    margin-left: 28.4pt;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_22 {
    color: black;
    display: list-item;
    margin-bottom: 0;
    margin-left: 28.4pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_23 {
    color: black;
    display: list-item;
    margin-bottom: 2pt;
    margin-left: 28.4pt;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: justify
    }
.block_24 {
    background-color: #FFF;
    color: black;
    display: block;
    font-size: 0.75em;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: left;
    text-indent: 0;
    margin: 2pt 0 6pt 14.2pt;
    padding: 0
    }
.block_25 {
    display: block;
    font-size: 0.83333em;
    page-break-after: avoid;
    text-align: justify;
    text-indent: 0;
    margin: 4pt 0 4pt 14.2pt;
    padding: 0
    }
.block_26 {
    display: block;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    page-break-before: always;
    page-break-inside: avoid;
    text-align: center;
    text-indent: 0;
    margin: 0 0 18pt;
    padding: 0
    }
.block_27 {
    background-color: #FFF;
    color: black;
    display: block;
    font-size: 0.83333em;
    line-height: 1.2;
    text-align: left;
    text-indent: -11.4pt;
    margin: 0 0 2pt 11.4pt;
    padding: 0
    }
.block_28 {
    background-color: #FFF;
    color: black;
    display: block;
    font-size: 0.75em;
    line-height: 1.2;
    text-align: left;
    text-indent: -11.4pt;
    margin: 0 0 2pt 11.4pt;
    padding: 0
    }
.OmiVe {
    color: #C00000;
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.OmiVe1 {
    display: block;
    page-break-after: always
    }

.OmiVe1a {
    display: block;
    height: 450pt;
    margin-left: auto;
    margin-right: auto;
    width: 268pt
    }
.OmiVe2 {
    display: block
    }

.OmiVe3 {
  font-size: 0.8em;
  line-height: normal;
  vertical-align: top;
    }
.OmiVe4 {
    display: block;
    line-height: 1.2
    }
.OmiVe5 {
    font-style: italic
    }
.OmiVe6 {
    font-weight: bold
    }
.OmiVe7 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: top
    }
.OmiVe8 {
    font-size: 0.83333em;
    line-height: 1.2;
    vertical-align: top
    }
.OmiVe9 {
    display: block;
    font-size: 1.29167em;
    line-height: 1.2
    }
.OmiVe10 {
    line-height: 1.2;
    text-decoration: none
    }
.OmiVe11 {
    display: block;
    margin-left: 40px
    }
.footnote {
    display: block;
    margin: 1em 0
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.noteref {
  text-decoration: none;
  color: red;
  font-weight: bold;
    }
.tab {
    white-space: pre-wrap
    }
.tab1 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.text_ {
    letter-spacing: 0;
    vertical-align: 0
    }
.text_1 {
    font-weight: bold;
    letter-spacing: 0;
    vertical-align: 0
    }
.text_2 {
    font-size: 1.2em
    
    }
.text_3 {
  color: #F00;
  font-size: 1.2em;
    }
.text_4 {
    font-size: 1.2em;
    font-style: italic
    }
.text_5 {
    font-style: italic;
    font-weight: bold
    }
.text_6 {
    font-size: 1.2em;
    font-weight: bold
    }
.text_7 {
    color: #F00;
    font-size: 1em;
    font-weight: bold
    }
.text_8 {
    color: #C00000;
    font-size: 1em
    }
.text_9 {
    color: #F00;
    font-style: italic
    }
.text_10 {
    color: #F00;
    font-size: 1em;
    line-height: 1.2
    }
.text_11 {
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2
    }
.text_12 {
    background-color: #FFF;
    font-size: 0.9em;
    line-height: 1.2
    }
.text_13 {
    font-size: 0.9em;
    line-height: 1.2
    }
.text_14 {
    background-color: #FFF;
    font-size: 0.9em;
    font-style: italic;
    line-height: 1.2
    }

.pT3but a:link {
  color: white;
}
.pT3but a:visited {
  color: white;
}
.pT3but {
  font-family: "Times New Roman", serif;
  letter-spacing: 3px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 0.2em;
  margin-top: 0em;
  color: brown;
}


.butXL {
  font: normal 22px Times;
  background-color: orange;
  border: none;
  border-radius: 8px;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.butXL {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
.butXL {
  width: 60%;
}